* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFDD0;
}
input {
    padding: 5px;
}
input:focus {
    outline: none;
}
.navbar__search, .navbar__categories {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0;
    align-items: center;
    max-width: 1340px;
    padding: 0 10px
}
.navbar__signInBox {
    margin: 0 10px;
}  
.navbar__categories {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#homeButton {
    min-width: 171px;
    color: #76d3fe;
    cursor: pointer;
    margin-right: 5px;
}
.navbar__cartButton {
    margin: 0 5px;
    cursor: pointer;
}
.navbar__searchBox {
    width: 100%;
    max-width: 995px;
}
#signInButton, #signOutButton {
    border-radius: 25px;
    border-style: none;
    padding: 10px 14px;
    background: none;
    cursor: pointer;
    font-size: 16px;
    min-width: 78px;
}
#signInButton:hover, #signOutButton:hover {
    background-color: #af2d5f;
}
button:focus {
    outline: none;
}
#searchBar {
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 20px;
    border:1px solid #e2dfac;
    padding: 10px;
    background: none;
    margin-left: 5px;
    
}
#searchBar:hover {
    border:2px solid #e2dfac;
}
.navlink {
    text-decoration: none;
    color: #af2d5f;
}
.navlink:hover {
    text-decoration: underline;
}
.loginContainer {
    position: relative;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    min-width: 185px;
    background-color: #af2d5f;
    border-radius: 10px;
}
.loginContainer__form {
    display: flex;
    flex-direction: column;
    
}
.loginContainer__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
    margin: 1rem;
}
.loginContainer__headerSignUp {
    margin: 1rem;
}
#signUpComment {
    margin-top: 5px;
    margin-bottom: 10px;
}
.loginContainer__formInput{
    margin: .50rem 1rem .75rem;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFDD0;
    border: none;
}
.loginContainer__formLable {
    margin-left: 1rem;
}
#signIn {
    margin: 1rem;
    height: 2.5rem;
    background-color: plum;
    border: none;
    border-radius: 5px;
}
.background {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#registerButton {
    border-radius: 25px;
    border: 2px solid #FFFDD0;
    padding: 10px 14px;
    background: none;
    cursor: pointer;
}
#registerButton:hover {
    border: 3px solid #FFFDD0;
}
.header {
    display: flex;
    flex-direction: column;
    margin: 10px auto 0;
    align-items: center;
    max-width: 1340px;
    padding-top: 25px;
    padding-bottom: 10px;
    color: #af2d5f;
}
#headerBackground {
    background-color: #76d3fe;
}
.header__title {
    font-size: 30px;
    margin-bottom: 10px;
}
#headerFeatured {
    font-size: 18px;
    font-weight: 600;
}
.header__images {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}
.header__img {
    max-width: 165px;
    border-radius: 50%;
}
.header__imgContainer {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.header__imgContainer > p {
    margin-top: 5px;
}
.header__imgContainer:hover {
    letter-spacing: .25rem;
}


/* 945px change sizes */